<!-- <div class="card mb-3" style="width: 20rem;">
  <img src="..." class="card-img-top" alt="...">
  <h5 class="card-header"><a href="{% url 'recipe-details-page' page.slug %}" title="Read More">{{ page.title }}</a></h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
      {{ page.content|truncatewords_html:30 }}
      <hr>
      <small class="text-muted">Posted on: {{ page.modified|date:"SHORT_DATETIME_FORMAT" }} Author: <b>{{ page.author.username }}</b></small>

  </div>
</div> -->

<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header"></div>
  <div class="card-body>
    <h5 class="card-title"><a href="{% url 'recipe-details-page' page.slug %}" title="Read More">{{ page.title }}</a></h5>
    <p class="card-text">{{ page.content|truncatewords_html:30 }}
    </p>
    <small class="text-muted">Posted on: {{ page.modified|date:"SHORT_DATETIME_FORMAT" }} Author: <b>{{ page.author.username }}</b></small>
  </div>
</div>
<!-- <div class="text-right"><a href="{% url 'recipe-details-page' page.slug %}" title="Read More">Read More</a></div> -->
